
/* ARCH */

.navbarcolor{
    background: #4D858C !important;
    color: white !important;
    border: none !important;
    margin-bottom: 0 !important;
}

.archContainer{
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin-top: 0px !important;
    padding-left: 0px !important;
    /*padding-right: 0% !important;*/
    padding-bottom: 0px !important;
}

.bodyMargin{
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin-top: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
}

.dropdown-menu{
    font-size: 12px !important;
    text-align:center !important;
    min-width: 135px !important;
    max-width: 155px !important;
}

.dropdown-toggle{
    background-color: #4D858C !important;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .active > a{
    background-color: #E1A14D !important;
    background-image: none !important;
}

/* ARCH HOME */

.bodyHome{
    background: url(../resources/pictures/homePhoto.jpg) no-repeat center center fixed !important;
    background-size:cover !important;
    background-blend-mode:multiply !important;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav a:hover{
    color: #fff !important;
    background-color: #E1A14D !important;
    border: none;
    text-shadow: none !important;
    /*background-color: #A94B19 !important;*/
}

.navbar-toggle{
    background-color: #4D858C !important;
}

.navbar-nav > li {
    font-family: Arial !important;
    font-weight: lighter !important;
    font-size: 12px !important;
    /*margin: -5px !important;*/
    text-shadow: none !important;
}

.logonavbar{
    width: 5rem;
}

/*  ARCH HOME ADMIN  */

.bodyHomeAdmin{
    background: url(../resources/pictures/adminHomePhoto.jpg) no-repeat center center fixed !important;
    background-size:cover !important;
    background-blend-mode:multiply !important;
}


/* HOME */
.typoHomeTitleBold{
    color: white;
    font-family: Arial;
    font-weight: bold;
    margin-top: 20rem;
    text-shadow: 1px 1px 8px #243E46;
}

.typoHomeTitleLight{
    color: white;
    font-family: Arial;
    font-weight: lighter;
    text-shadow: 1px 1px 6px #243E46;
}

/* HOME ADMIN */
.textColorAdminPage{
    color: #243E46;
}

.container{
    justify-content: center ;
}

.logoHome {
    width: 15rem;
    position: center;
    margin-top: 3rem;
}

/* CONNECTION */

.photoConnection {
    max-height: 70rem;
}

.marginTopFormLogin{
    margin-top: 10rem;
}

.logoConnection{
    width: 13rem;
    position: center;
    margin-top: 3rem;
}

.btn.btn-default{
    background-color: #4D858C !important;
    border-radius: 0.6rem !important;
    border: none !important;
    background-image: none !important;
    text-shadow: none !important;
    /*margin-top: 2rem;*/
}


.form-control{
    /*border-radius: 0 0.5rem 0.5rem 0 !important;*/
}

.input-group-addon{
    border-color: #243E46 !important;
    background-color: #243E46 !important;
    /*border-radius:0.5rem 0  0 0.5rem!important;*/
}

.glyphicon.glyphicon-user{
    color: white !important;
}

.fa.fa-key{
    color: white !important;
}
.msgNouveau{
    margin-top: 3rem;
    color: #243E46;
}
.msgInscrire{
    margin-top: 5rem;
    color: #243E46;
    font-weight: bold;
}
.loginFormBorder{
    border-color: #243E46 !important;
    border-width: 1rem !important;
    /*background-color: #4D858C;*/
    /*border: #243E46;*/
    padding: 5rem;
}

.alert.alert-warning.bf-message{
    background-color: #A94B19!important;
    background-image: none !important;
    border-radius: 0.5rem !important;
}

.txtIncription{
    color: #243E46;
    font-size: 1.7rem;
}
a:hover{
    color: #E1A14D !important;
}
.margintTopInscrip{
    margin-top: 2.5rem;
}

/* REGISTRATION */
.moonsRegistration{
    width: 40rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}


.photoRegistration{
    max-height: 70rem;
}

.marginTopFormInscrip{
    margin-top: 5rem;
}
.btnInscripForm{
    background-color: #243E46 !important;
    border-radius: 0.5rem !important;
}

.textBienvenue{
    font-size: 4.5rem;
    font-family: "Arial Black";
    color: #243E46;
    margin-bottom: 5rem;
}
.form-inline .form-group{
    margin-bottom: 2rem !important;
}


/* PACKAGES */
.photoPackagesShow{
    max-height: 96rem;
    margin-top: 0 !important;
    margin-left: 0 !important;
}

.photoPackages{
    max-height: 250rem;
    margin-top: 0 !important;
    margin-left: 0 !important;
}

.moonsPackages{
    width: 40rem;
    align-items: center;
    margin-bottom: 3rem;
    margin-left: 10rem;
    padding-left: 10rem;
}
.moonsPackagesMarginExtra{
    margin-top: 6rem;
    margin-bottom: 6rem;
}

.marginTopCardPack{
    margin-top: 3rem;
}

.packsTitle{
    font-size: 2.5rem;
    font-family: Arial, sans-serif;
    font-weight: bold;
    color: #4B561D;
}

.centerCards{
    align-items: center;
}

.thumbnail{
    /*border-radius: 0.5rem !important;*/
    width: 30rem !important;
}

h4{
    font-weight: bold !important;
    font-family: Arial !important;
    font-size: 3rem !important;
}

/* ADD NEW PACK */
.glyphicon-calendar{
    color: white !important;
}

.titleAddPack{
    font-size: 4.7rem;
    font-family: "Arial Black";
    color: #243E46;
    margin-bottom: 6rem;
}
.marginTopTitleAdd{
    margin-top: 3rem;
}

.margintTopGestionBtn{
    margin-top: 6rem !important;
}

.alert-info.alert.alert-info.bf-message{
    background-color: #4B561D !important;
    background-image: none !important;
    border-radius: 0.5rem !important;
}

/* Modify Pack Admin */

.moonsModifyPack{
    width: 35rem;
    align-items: center;
    margin-top: 6rem;
    margin-bottom: 6rem;
}


/* My Space */

.contentRow{
    overflow: auto;
    height: calc(100vh - 50px);
    /*border:solid 3px mediumvioletred;*/
}

.leftColumnSpace{
    position: fixed !important;
    /*border:solid 3px greenyellow;*/
}

.righColumnSpace{
    /*background-color: #E1A14D;*/
}

.marginTopDataTable{
    margin-top: 3rem;
}

.moonsPackagesMySpace{
    width: 50rem;
    align-items: center;
    margin-bottom: 4rem;
    margin-top: 4rem;
}

.titlesMySPace{
    font-size: 4.3rem;
    font-family: "Arial Black";
    color: #243E46;
    margin-bottom: 4rem;
}

/* Accomodation */

.accomTitle{
    margin-bottom: 6rem;
}

.moonsAccom{
    width: 40rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.photoHotel{
    height: 15rem;
}

.photoCardRepeat{
    height: 25rem !important;
    width: 33rem !important;
    margin-right: 0rem !important;
    margin-bottom: 2rem !important;
}

.textCardRepeat{
    height: 25rem !important;
    width: 33rem !important;
    margin-left: 0 !important;
    margin-bottom: 2rem !important;
}



.photoAccommodationScreen{
    max-height: calc(100vh - 50px);
    /*min-width: 100%;*/
    margin-top: 0 !important;
    margin-left: 0 !important;
}

.control-label{
    font-family: Arial, sans-serif !important;
}

.modal-content{
    border-radius: 2rem !important;
}
.modal-header{
    color: #4B561D !important;
    font-family: Arial !important;
    font-weight: bold !important;
}

.modal-body{
    color: #243E46 !important;
}

/* Modify accommodation */

.MarginBottonModifyAccom{
    margin-bottom: 15rem;
}



/* TRANSPORT */

.photoTransportScreen{
}


/*BLOG*/
.coverImageMargin{
    margin-bottom: 5rem;
}

.textBlogTitle{
    font-size: 4.5rem;
    font-family: "Arial Black";
    color: #243E46;
    margin-bottom: 3rem;
}

.splitterMargin{
    margin-bottom: 30rem;
}





