<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:b="http://bootsfaces.net/ui">

<ui:composition template="/archAdmin.xhtml">

    <ui:define name="head">
        <title>Hébergement</title>
    </ui:define>

    <ui:define name="content"  >
        <b:row  styleClass="contentRow">
            <b:column hidden="xs,sm" col-md="4" col-lg="4" styleClass="leftColumnSpace" >
                <h:graphicImage url="resources/pictures/page/hebergementHeader.jpg" styleClass="img-responsive photoAccommodationScreen"/>
            </b:column>
            <b:column colXs="7" offsetXs="1" colSm="10" offsetSm="1"  colMd="8" offsetMd="0"  colLg="6" offsetLg="5" styleClass="marginTopDataTable righColumnSpace ">
                <b:row>
                    <b:column span="5" offset="3">
                        <h:graphicImage url="resources/pictures/page/moonsLunaMaya.png" styleClass="img-responsive moonsAccom"/>
                    </b:column>
                </b:row>
                <b:row>
                    <b:column>
                        <b:form styleClass="marginTopCardPack">
                            <ui:repeat value="#{mbPacks.findAllAccommodations()}" var="Accommodation">
                                <b:row>
                                    <b:column col-xs="1" colSm="2" colMd="4" colLg="4" styleClass="photoCardRepeat">
                                        <b:thumbnail styleClass="photoCardRepeat">
                                            <h:graphicImage url="#{Accommodation.accom_photo}" alt="Photo de l'Hébergement #{Accommodation.accom_name}"/>
                                        </b:thumbnail>
                                    </b:column>
                                    <b:column col-xs="1" colSm="2" colMd="4" colLg="4" styleClass="textCardRepeat">
                                        <b:thumbnail styleClass="textCardRepeat" >
                                            <f:facet name="caption">
                                                <h2 class="packsTitle">#{Accommodation.accom_name}</h2>
                                                <p>Type d'hébergement : #{Accommodation.accom_type}</p>
                                                <p>Pays : #{Accommodation.accom_country}</p>
                                                <p>Ville : #{Accommodation.accom_city}</p>
                                                <p>
                                                    <b:commandButton value="Explorer" ajax="true" update="amodal" oncomplete="$('.#{Accommodation.id}').modal('show');"/>
                                                </p>
                                            </f:facet>
                                        </b:thumbnail>
                                    </b:column>
                                </b:row>
                                <b:modal id="amodal" class="#{Accommodation.id} " title="#{Accommodation.accom_name}">
                                    <h:panelGrid columns="2">
                                        <p>#{Accommodation.accom_name}</p><br/>
                                        <p>#{Accommodation.accom_description}</p><br/>
                                        <p>Type d'hébergement #{Accommodation.accom_type}</p><br/>
                                        <p>Type de chambre : #{Accommodation.accom_room_type}</p><br/>
                                        <p>Prix : #{Accommodation.accom_price} euros</p><br/>
                                        <p>Disponibilité : #{Accommodation.accom_disponibility}</p>
                                        <b:datepicker id="booking_date" value="#{mbPacks.booking_date}" placeholder="Choisir date d'entrée" rendered="#{mbLogin.isConnected()}"/>
                                    </h:panelGrid>
                                    <f:facet name="footer">
                                        <b:commandButton value="Reserver" dismiss="modal"
                                                         action="#{mbPacks.accommodationBooking(Accommodation, mbPacks.booking_date)}"
                                                         rendered="#{mbLogin.isConnected()}"/>
                                    </f:facet>
                                </b:modal>
                            </ui:repeat>
                        </b:form>
                    </b:column>
                </b:row>
            </b:column>

        </b:row>
    </ui:define>
</ui:composition>

</html>