<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:b="http://bootsfaces.net/ui">

<ui:composition template="/archAdmin.xhtml">

    <ui:define name="head">
        <title>Creation Formule</title>
        <f:metadata>
            <f:event listener="#{mbLogin.authorise()}" type="preRenderView" />
        </f:metadata>
    </ui:define>

    <ui:define name="content">
        <b:row>
            <b:column hidden="xs" col-sm="4" col-md="4" col-lg="5" >
                <h:graphicImage url="resources/pictures/addPackPhoto.jpg" styleClass="img-responsive photoPackages"/>
            </b:column>
            <b:column col-xs="8" offset-xs="2"  col-sm="4" offset-sm="1"  col-md="4" offset-md="1"  col-lg="4" offset-lg="1" styleClass="marginTopTitleAdd" >
                <b:form id="creationPack"    inline="true">
                    <b:row>
                        <p class="titleAddPack">Creation des nouvelles formules</p>
                        <h:panelGrid columns="2"  cellpadding="5">
                            <b:inputText id="pack_name" placeholder="Nom de la formule"
                                         value="#{mbPackCreation.new_pack_name}" />
                            <b:inputText id="pack_description" placeholder="Description de la formule"
                                         value="#{mbPackCreation.new_pack_description}" />
                            <b:inputText id="pack_photo" placeholder="link de la photo"
                                         value="#{mbPackCreation.new_pack_photo}" />
                            <b:inputText id="pack_price" placeholder="Prix de la formule"
                                         value="#{mbPackCreation.new_pack_price}" />
                            <b:inputText id="pack_accomodation" placeholder="Hébergement"
                                         value="#{mbPackCreation.new_pack_accomodation}" />
                            <b:inputText id="pack_transport" placeholder="Transport"
                                         value="#{mbPackCreation.new_pack_transport}" />
                            <b:inputText id="pack_activity" placeholder="Activités"
                                         value="#{mbPackCreation.new_pack_activity}" />
                            <b:formGroup>
                                <b:selectOneMenu id="pack_disponibility" value="#{mbPackCreation.new_pack_disponibility}"
                                                 required="true"
                                                 cellpadding="5">
                                    <f:selectItem  itemLabel="true" itemValue="true"/>
                                    <f:selectItem  itemLabel="false" itemValue="false"/>
                                </b:selectOneMenu>
                            </b:formGroup>
                            <b:datepicker id="pack_depart_date" placeholder="Date de départ"
                                          value="#{mbPackCreation.new_pack_depart_date}" />
                            <b:datepicker id="pack_return_date" placeholder="Date de retour"
                                          value="#{mbPackCreation.new_pack_return_date}" />
                        </h:panelGrid>
                        <b:commandButton value="Enregistrer"
                                         action="#{mbPackCreation.creationPack()}"/>
                        <b:row id="inpCreationPack">
                            <b:message for="inpCreationPack" styleClass="alert-info"/>
                        </b:row>
                        <b:row id="inpNewPackName">
                            <b:message for="inpNewPackName" styleClass="alert-info"/>
                        </b:row>
                        <b:row id="inpNewPackDescription">
                            <b:message for="inpNewPackDescription" styleClass="alert-info"/>
                        </b:row>
                        <b:row id="inpNewPackPhoto">
                            <b:message for="inpNewPackPhoto" styleClass="alert-info"/>
                        </b:row>
                        <b:row id="inpNewPackDisponibility">
                            <b:message for="inpNewPackDisponibility" styleClass="alert-info"/>
                        </b:row>
                        <b:row id="inpNewDatesPack">
                            <b:message for="inpNewDatesPack" styleClass="alert-info"/>
                        </b:row>
                        <b:row id="inpNewPackPrice">
                            <b:message for="inpNewPackPrice" styleClass="alert-info"/>
                        </b:row>
                        <b:row id="inpNewPackAccommodation">
                            <b:message for="inpNewPackAccommodation" styleClass="alert-info"/>
                        </b:row>
                        <b:row id="inpNewPackTransport">
                            <b:message for="inpNewPackTransport" styleClass="alert-info"/>
                        </b:row>
                        <b:row id="inpNewPackActivity">
                            <b:message for="inpNewPackActivity" styleClass="alert-info"/>
                        </b:row>
                    </b:row>
                </b:form>
            </b:column>
        </b:row>
    </ui:define>

</ui:composition>
</html>