<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:p="http://primefaces.org/ui">

<ui:composition template="/archAdmin.xhtml">

    <ui:define name="head">
        <title>Creation Hébergements</title>
        <f:metadata>
            <f:event listener="#{mbLogin.authorise()}" type="preRenderView" />
        </f:metadata>
    </ui:define>

    <ui:define name="content">
        <b:row>
            <b:column hidden="xs" col-sm="4" col-md="4" col-lg="5" >
<!--                <h:graphicImage url="resources/pictures/addPackPhoto.jpg" styleClass="img-responsive photoPackages"/>-->
                <h:graphicImage url="resources/pictures/page/maldivesAccommodation.jpg" styleClass="img-responsive photoPackages"/>
            </b:column>
            <b:column col-xs="8" offset-xs="2"  col-sm="4" offset-sm="1"  col-md="4" offset-md="1"  col-lg="4" offset-lg="1" styleClass="marginTopTitleAdd" >
                <b:form id="creationAccommodation"    inline="true">
                    <b:row>
                        <p class="titleAddPack">Creation des nouveaux hébergements </p>
                        <h:panelGrid columns="3"  cellpadding="5">
                            <b:inputText id="Accommodation_name" placeholder="Nom hébergement"
                                         value="#{mbPackCreation.new_accom_name}"/>
                            <b:inputText id="Accommodation_country" placeholder="Pays"
                                         value="#{mbPackCreation.new_accom_country}"/>
                            <b:inputText id="Accommodation_city" placeholder="Ville"
                                         value="#{mbPackCreation.new_accom_city}"/>
                            <b:inputText id="Accommodation_price" placeholder="Prix"
                                         value="#{mbPackCreation.new_accom_price}"/>
                            <b:inputText id="Accommodation_room_type" placeholder="Type de chambre"
                                         value="#{mbPackCreation.new_accom_room_type}"/>
                            <b:inputText id="Accommodation_photo" placeholder="Link Photo"
                                         value="#{mbPackCreation.new_accom_photo}"/>

                            <b:inputText id="Accommodation_description" placeholder="Description"
                                         value="#{mbPackCreation.new_accom_description}"/>

                            <b:formGroup>
                                <b:selectOneMenu id="new_accom_type"  value="#{mbPackCreation.new_accom_type}" colXs="5" colSm="5" cols-md="5" colLg="5"
                                                 required="true"
                                                 labelColXs="5" labelColSm="5" labelColMd="5" labelColLg="5">
                                    <f:selectItem itemLabel="(Choisir Type Hébergement)" itemValue=""/>
                                    <f:selectItem itemLabel="Cabane" itemValue="Cabane"/>
                                    <f:selectItem itemLabel="Camping" itemValue="Camping"/>
                                    <f:selectItem itemLabel="Hotel" itemValue="Hotel"/>
                                    <f:selectItem itemLabel="Hostal" itemmbValue="Hostal"/>
                                    <f:selectItem itemLabel="Location" itemValue="Location"/>
                                    <f:selectItem itemLabel="Auberge" itemValue="Auberge"/>
                                </b:selectOneMenu>
                            </b:formGroup>
                            <b:formGroup>
                                <b:selectOneMenu id="new_accom_disponibility" value="#{mbPackCreation.new_accom_disponibility}" colXs="5" colSm="5" cols-md="5" colLg="5"
                                                 required="true"
                                                 labelColXs="5" labelColSm="5" labelColMd="5" labelColLg="5">
                                    <f:selectItem  itemLabel="(Choisir disponibilité)" itemValue=""/>
                                    <f:selectItem  itemLabel="true" itemValue="true"/>
                                    <f:selectItem  itemLabel="false" itemValue="false"/>
                                </b:selectOneMenu>
                            </b:formGroup>
                        </h:panelGrid>
                        <b:commandButton value="Enregistrer" process="@form" update="@form"
                                         action="#{mbPackCreation.createAccommodation()}"/>
                        <b:row id="inpCreationAccommodation">
                            <b:message for="inpCreationAccommodation" styleClass="alert-info"/>
                        </b:row>
                        <b:row id="inpNewAccomType">
                            <b:message for="inpNewAccomType" styleClass="alert-info"/>
                        </b:row>
                        <b:row id="inpNewAccomName">
                            <b:message for="inpNewAccomName" styleClass="alert-info"/>
                        </b:row>
                        <b:row id="inpNewAccomCountry">
                            <b:message for="inpNewAccomCountry" styleClass="alert-info"/>
                        </b:row>
                        <b:row id="inpNewAccomCity">
                            <b:message for="inpNewAccomCity" styleClass="alert-info"/>
                        </b:row>
                        <b:row id="inpNewAccomDescription">
                            <b:message for="inpNewAccomDescription" styleClass="alert-info"/>
                        </b:row>
                        <b:row id="inpNewAccomRoomType">
                            <b:message for="inpNewAccomRoomType" styleClass="alert-info"/>
                        </b:row>
                        <b:row id="inpNewAccomPhoto">
                            <b:message for="inpNewAccomPhoto" styleClass="alert-info"/>
                        </b:row>
                        <b:row id="inpNewAccomDisponibility">
                            <b:message for="inpNewAccomDisponibility" styleClass="alert-info"/>
                        </b:row>
                        <b:row id="inpNewAccomPrice">
                            <b:message for="inpNewAccomPrice" styleClass="alert-info"/>
                        </b:row>
                    </b:row>
                </b:form>

            </b:column>
        </b:row>
    </ui:define>

</ui:composition>
</html>