<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:b="http://bootsfaces.net/ui">

<h:head>
    <ui:insert name="head" />
    <h:outputStylesheet library="css" name="lunaStyle.css" />
    <f:facet name="first">
        <link rel="shortcut icon" type="image/x-icon" href="#{resources['pictures/blueMoon.ico']}"/>
    </f:facet>
</h:head>

<h:body class="bodyHome">
    <b:form>
        <b:navBar  brand="#{mbLogin.connectedUser.name} #{mbLogin.connectedUser.surname}" class="navbarcolor">
            <h:graphicImage styleClass="logonavbar" url="resources/pictures/white-monogram-Luna-Maya-travels.png" pull="left"/>
            <b:navbarLinks pull="right">
                <b:navLink styleClass="#{mbArch.navLinkStyle('home.xhtml')}" value="Acceuil"  href="home.xhtml"/>
                <b:navLink styleClass="#{mbArch.navLinkStyle('blog.xhtml')}" value="Blog"  href="blog.xhtml"/>
                <b:navLink styleClass="#{mbArch.navLinkStyle('packages.xhtml')}" value="Formules"  href="packages.xhtml"/>
                <b:navLink styleClass="#{mbArch.navLinkStyle('accomodation.xhtml')}" value="Hébergement"  href="accomodation.xhtml"/>
                <b:navLink styleClass="#{mbArch.navLinkStyle('transport.xhtml')}" value="Transport"  href="transport.xhtml"/>
                <b:navLink styleClass="#{mbArch.navLinkStyle('activities.xhtml')}" value="Activités"  href="activities.xhtml"/>
                <b:navLink styleClass="#{mbArch.navLinkStyle('mySpace.xhtml')}" value="Mon espace"  href="mySpace.xhtml"
                           rendered="#{mbLogin.isConnected()}" />
                <b:navLink styleClass="#{mbArch.navLinkStyle('connection.xhtml')}" value="Connexion"  href="connection.xhtml"
                           rendered="#{!mbLogin.isConnected()}" />
                <b:navCommandLink value="Déconnexion" action="#{mbLogin.disconnect()}"
                                  rendered="#{mbLogin.isConnected()}" />
            </b:navbarLinks>
        </b:navBar>
    </b:form>

    <b:container>
        <b:row>
            <b:column style-class="content">
                <ui:insert name="content" />
            </b:column>
        </b:row>
    </b:container>

</h:body>

</html>