<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:b="http://bootsfaces.net/ui">

<h:head>
    <ui:insert name="head" />
    <h:outputStylesheet library="css" name="lunaStyle.css" />
    <f:facet name="first">
        <link rel="shortcut icon" type="image/x-icon" href="#{resources['pictures/blueMoon.ico']}"/>
    </f:facet>
</h:head>

<h:body class="bodyHomeAdmin">
    <b:form>
        <b:navBar  brand="Admin : #{mbLogin.connectedUser.name} #{mbLogin.connectedUser.surname}" class="navbarcolor">
            <h:graphicImage styleClass="logonavbar" url="resources/pictures/white-monogram-Luna-Maya-travels.png" pull="left"/>
            <b:navbarLinks pull="right">
                <b:navLink styleClass="#{mbArch.navLinkStyle('homeAdmin.xhtml')}" value="Acceuil"  href="homeAdmin.xhtml"/>
                <b:navLink styleClass="#{mbArch.navLinkStyle('blogAdmin.xhtml')}" value="Blog"  href="blogAdmin.xhtml"/>
                <b:dropMenu value="Formules">
                    <b:navLink styleClass="#{mbArch.navLinkStyle('packagesAdmin.xhtml')}" value="Formules"  href="packagesAdmin.xhtml"/>
                    <b:navLink styleClass="#{mbArch.navLinkStyle('addNewPack.xhtml')}" value="Création Formules"  href="addNewPack.xhtml"
                               rendered="#{mbLogin.isConnected()}" />
                    <b:navLink styleClass="#{mbArch.navLinkStyle('modifyPackAdmin.xhtml')}" value="Gestion Formules"  href="modifyPackAdmin.xhtml"
                               rendered="#{mbLogin.isConnected()}" />
                </b:dropMenu>
                <b:dropMenu value="Hébergement">
                    <b:navLink styleClass="#{mbArch.navLinkStyle('accomodationAdmin.xhtml')}" value="Hébergement"  href="accomodationAdmin.xhtml"/>
                    <b:navLink styleClass="#{mbArch.navLinkStyle('addNewAccommodation.xhtml')}" value="Création Hébergements"  href="addNewAccommodation.xhtml"/>
                    <b:navLink styleClass="#{mbArch.navLinkStyle('modifyAccommodationAdmin.xhtml')}" value="Gestion Hébergements"  href="modifyAccommodationAdmin.xhtml"/>
                </b:dropMenu>
                <b:navLink styleClass="#{mbArch.navLinkStyle('transportAdmin.xhtml')}" value="Transport"  href="transportAdmin.xhtml"/>
                <b:navLink styleClass="#{mbArch.navLinkStyle('activitiesAdmin.xhtml')}" value="Activités"  href="activitiesAdmin.xhtml"/>
                <b:dropMenu value="Réservations">
                    <b:navLink styleClass="#{mbArch.navLinkStyle('bookings.xhtml')}" value="Réservations"  href="bookings.xhtml"/>
                    <b:navLink styleClass="#{mbArch.navLinkStyle('gestionUtilisateurs.xhtml')}" value="Utilisateurs"  href="gestionUtilisateurs.xhtml"/>
                </b:dropMenu>
                <b:navLink styleClass="#{mbArch.navLinkStyle('registrationAdmin.xhtml')}" value="Nouveau Admin"  href="registrationAdmin.xhtml"
                           rendered="#{mbLogin.isConnected()}" />
                <b:navLink styleClass="#{mbArch.navLinkStyle('connection.xhtml')}" value="Connexion"  href="connection.xhtml"
                           rendered="#{!mbLogin.isConnected()}" />
                <b:navCommandLink value="Déconnexion" action="#{mbLogin.disconnect()}"
                                  rendered="#{mbLogin.isConnected()}" />
            </b:navbarLinks>
        </b:navBar>
    </b:form>

    <b:container>
        <b:row>
            <b:column style-class="content">
                <ui:insert name="content" />
            </b:column>
        </b:row>
    </b:container>

</h:body>

</html>