<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:p="http://primefaces.org/ui">

<ui:composition template="/archAdmin.xhtml">

    <ui:define name="head">
        <title>Blog</title>
    </ui:define>

    <ui:define name="content">

        <b:row>
            <b:column>
                <b:row>
                    <b:column col-xs="10" offsetXs="1" col-sm="10" offset-sm="1"  col-md="10" offset-md="1"  col-lg="10" offset-lg="1"  styleClass="coverImageMargin">
                        <h:graphicImage url="resources/pictures/page/blogHeader.jpg" styleClass="img-responsive"/>
                    </b:column>
                </b:row>
                <b:row>
                    <b:column col-xs="10" offsetXs="1" col-sm="10" offset-sm="1"  col-md="4" offset-md="4"  col-lg="4" offset-lg="4">
                        <h1 class="textBlogTitle">Envie de Montagne ou de Plage ?</h1>
                    </b:column>
                </b:row>
                <b:row>
                    <b:column col-xs="10" offsetXs="1" col-sm="10" offset-sm="1"  col-md="4" offset-md="4"  col-lg="4" offset-lg="4">
                        <p:splitter style="height: 13rem" styleClass="mb-5 splitterMargin">
                            <p:splitterPanel  styleClass="flex align-items-center justify-content-center">
                                <h:graphicImage url="resources/pictures/pack/mountain.jpg" styleClass="img-responsive"/>
                            </p:splitterPanel>
                            <p:splitterPanel  styleClass="flex align-items-center justify-content-center">
                                <h:graphicImage url="resources/pictures/pack/sea.jpg" styleClass="img-responsive"/>
                            </p:splitterPanel>
                        </p:splitter>
                    </b:column>
                </b:row>
            </b:column>
        </b:row>

    </ui:define>

</ui:composition>

</html>