<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:composite = "http://java.sun.com/jsf/composite">

<ui:composition template="/archAdmin.xhtml">

    <ui:define name="head">
        <title>Gestion des Réservations</title>
        <f:metadata>
            <f:event listener="#{mbLogin.authorise()}" type="preRenderView" />
        </f:metadata>
    </ui:define>

    <ui:define name="content">
        <b:row>
            <b:column>
                <b:row styleClass="marginTopTitleAdd">
                    <b:column span="8" offset="2">
                        <p class="titleAddPack">Gestion des Réservation</p>
                    </b:column>
                </b:row>
                <b:row>
                    <b:column span="8" offset="2" >
                        <h:form>
                            <b:dataTable value="#{mbPacks.findAllBookings()}"
                                         var="bookings"
                                         custom-options="dom: 'lfrtiBp',buttons: ['colvis'   ,'copy'   ,'csv'   ,{extend: 'excelHtml5', exportOptions: {columns: [ 0, 1, 2, 3, 4, 5, 6, 7]}},{extend: 'pdfHtml5', exportOptions: {columns: [ 0, 1, 2, 3, 4, 5, 6, 7]}},   'print']">
                                <b:dataTableColumn value="#{bookings.id}" label="ID réservation" order="asc"/>
                                <b:dataTableColumn value="#{bookings.user.id}" label="ID User" />
                                <b:dataTableColumn value="#{bookings.user.name}" label="Prénom Client"/>
                                <b:dataTableColumn value="#{bookings.user.surname}" label="Nom Client"/>
                                <b:dataTableColumn value="#{bookings.aPack.id}" label="ID Formule" />
                                <b:dataTableColumn value="#{bookings.aPack.pack_name}" label="Nom formule" />
                                <b:dataTableColumn value="#{bookings.aPack.pack_price}" label="Prix formule"/>
                                <b:dataTableColumn value="#{bookings.accommodation.id}" label="ID Hébergement" />
                                <b:dataTableColumn value="#{bookings.accommodation.accom_name}" label="Nom Hébergement"/>
                                <b:dataTableColumn value="#{bookings.accommodation.accom_price}" label="Prix nuit hébergement"/>
                            </b:dataTable>
                        </h:form>
                    </b:column>
                </b:row>
                <b:row>
                    <b:column span="4" offset="5">
                        <h:graphicImage url="resources/pictures/page/moonsLunaMaya.png" styleClass="img-responsive moonsModifyPack"/>
                    </b:column>
                </b:row>
                <b:row>
                    <b:column span="8" offset="2">
                        <p class="titleAddPack">Annulation d'une réservation</p>
                    </b:column>
                </b:row>
                <b:row>
                    <b:column span="3" offset="2">
                        <b:form id="cancelBooking" >
                            <b:inputText id="inpCancelBooking" class="mybid-example" value="#{mbPacks.id}" label="Entrez ID réservation:">
                                <f:facet name="append">
                                    <b:commandButton look="danger" value="Supprimer" ajax="true" update="@form"
                                                     oncomplete="$('.modal-bid-example').modal('show');" action="#{mbPacks.cancelBooking()}"/>
                                </f:facet>
                            </b:inputText>

                            <b:modal  class="modal-bid-example" title="">
                                <h2>Réservation annulée !</h2>
                                <h:panelGrid columns="2">

                                    <h:outputText  />
                                </h:panelGrid>
                                <f:facet name="footer">
                                    <b:button value="close" dismiss="modal" onclick="return false;"/>
                                </f:facet>
                            </b:modal>
                        </b:form>
                    </b:column>
                </b:row>

            </b:column>
        </b:row>
    </ui:define>
</ui:composition>
</html>