<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:b="http://bootsfaces.net/ui">

<ui:composition template="/archAdmin.xhtml">

    <ui:define name="head">
        <title>Connection</title>
        <f:metadata>
            <f:event listener="#{mbLogin.disconnect()}" type="preRenderView"/>
        </f:metadata>
    </ui:define>

    <ui:define name="content"  >
        <b:row styleClass="contentRow">
            <b:column hidden="xs,sm" col-md="5" col-lg="5" styleClass="leftColumnSpace">
                <h:graphicImage url="resources/pictures/loginPhoto.jpg" styleClass="img-responsive photoPackages"/>
            </b:column>
            <b:column colXs="8" offsetXs="2" colSm="6" offsetSm="3"  colMd="3" offsetMd="7"  colLg="3" offsetLg="7" styleClass="marginTopDataTable righColumnSpace">
                <b:row styleClass="text-align-center">
                    <b:column offsetXs="3" offsetSm="4" offset-md="4" offset-lg="4">
                        <h:graphicImage url="resources/pictures/deepOceanBlue-logo-Luna-Maya-travels.png" styleClass="img-responsive logoConnection"/>
                    </b:column>
                </b:row>
                <b:row styleClass="marginTopFormLogin">
                    <b:column styleClass="loginFormBorder">

                        <b:form id="loginForm" horizontal="true">
                            <b:inputText id="inpLogin"
                                         placeholder="Nom utilisateur"
                                         value="#{mbLogin.login}">
                                <f:facet name="prepend">
                                    <b:icon name="user" />
                                </f:facet>
                            </b:inputText>

                            <b:inputSecret id="inpPassword"
                                           placeholder="Mot de passe"
                                           value="#{mbLogin.password}">
                                <f:facet name="prepend">
                                    <b:iconAwesome name="key" />
                                </f:facet>
                            </b:inputSecret>
                            <b:commandButton update="@form" value="Connexion"
                                             action="#{mbLogin.connect()}"/>
                            <b:message for="inpPassword" />
                        </b:form>
                        <b:row styleClass="margintTopInscrip">
                            <a href="registration.xhtml" class="txtIncription">Nouveau par ici? S'inscrire </a>
                        </b:row>
                    </b:column>
                </b:row>
            </b:column>
        </b:row>
    </ui:define>
</ui:composition>
</html>