<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:b="http://bootsfaces.net/ui">

<ui:composition template="/archHome.xhtml">

    <ui:define name="head">
        <title>Accueil</title>
    </ui:define>

    <ui:define name="content"  >
        <b:container fluid="true">
            <b:row>
                <b:column col-xs="6" offset-xs="3"   col-sm="3" offset-sm="5"    col-md="3" offset-md="5"   col-lg="3" offset-lg="5" >
                    <h:graphicImage url="resources/pictures/white-logo-Luna-Maya-travels.png" styleClass="img-responsive logoHome"/>
                </b:column>
            </b:row>
            <b:row>
                <b:column style-class="text-center" >
                    <h1 class="typoHomeTitleBold">L'aventure en toute sérénité</h1>
                    <h3 class="typoHomeTitleLight">pour les backpacker</h3>
                </b:column>
            </b:row>
        </b:container>
    </ui:define>

</ui:composition>

</html>