<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:composite = "http://java.sun.com/jsf/composite">

<ui:composition template="/archAdmin.xhtml">

    <ui:define name="head">
        <title>Gestion des Hébergements</title>
        <f:metadata>
            <f:event listener="#{mbLogin.authorise()}" type="preRenderView" />
        </f:metadata>
    </ui:define>

    <ui:define name="content">
        <b:row>
            <b:column>
                <b:row styleClass="marginTopTitleAdd">
                    <b:column span="8" offset="2">
                        <p class="titleAddPack">Gestion des Hébergements</p>
                    </b:column>
                </b:row>
                <b:row>
                    <b:column span="8" offset="2" >
                        <h:form>
                            <b:dataTable value="#{mbPacks.findAllAccommodations()}"
                                         var="accom"
                                         custom-options="dom: 'lfrtiBp',buttons: ['colvis'   ,'copy'   ,'csv'   ,{extend: 'excelHtml5', exportOptions: {columns: [ 0, 1, 2, 3, 4, 5, 6, 7]}},{extend: 'pdfHtml5', exportOptions: {columns: [ 0, 1, 2, 3, 4, 5, 6, 7]}},   'print']">
                                <b:dataTableColumn value="#{accom.id}" label="ID formule" order="asc"/>
                                <b:dataTableColumn value="#{accom.accom_name}" label="Nom Hébergement" />
                                <b:dataTableColumn value="#{accom.accom_country}" label="Pays"/>
                                <b:dataTableColumn value="#{accom.accom_city}" label="Ville" />
                                <b:dataTableColumn value="#{accom.accom_price}" label="Prix euros"  />
                                <b:dataTableColumn value="#{accom.accom_room_type}" label="Type de chambre" />
                                <b:dataTableColumn value="#{accom.accom_photo}" label="Link photo" />
                                <b:dataTableColumn value="#{accom.accom_description}" label="Description"/>
                                <b:dataTableColumn value="#{accom.accom_disponibility}" label="Disponibilité"/>
                            </b:dataTable>
                        </h:form>
                    </b:column>
                </b:row>
                <b:row>
                    <b:column span="4" offset="5">
                        <h:graphicImage url="resources/pictures/page/moonsLunaMaya.png" styleClass="img-responsive moonsModifyPack"/>
                    </b:column>
                </b:row>
                <b:row>
                    <b:column span="8" offset="2">
                        <p class="titleAddPack">Supression des Hébergements</p>
                    </b:column>
                </b:row>
                <b:row>
                    <b:column span="3" offset="2">
                        <b:form id="deleteAccommodation" >
                            <b:inputText id="deleteAccommodation" class="mybid-example" value="#{mbPackCreation.id}" label="Entrez ID Hébergement:" >
                                <f:facet name="append">
                                    <b:commandButton look="danger" value="Supprimer" ajax="true" update="@form"
                                                     oncomplete="$('.modal-bid-example').modal('show');" action="#{mbPackCreation.deleteAccommodation()}"/>
                                </f:facet>
                            </b:inputText>

                            <b:modal  class="modal-bid-example" title="">
                                <h2>Hebergement supprimé !</h2>
                                <h:panelGrid columns="2">

                                    <h:outputText  />
                                </h:panelGrid>
                                <f:facet name="footer">
                                    <b:button value="close" dismiss="modal" onclick="return false;"/>
                                </f:facet>
                            </b:modal>
                        </b:form>
                    </b:column>
                </b:row>
                <b:row>
                    <b:column span="4" offset="5">
                        <h:graphicImage url="resources/pictures/page/moonsLunaMaya.png" styleClass="img-responsive moonsModifyPack"/>
                    </b:column>
                </b:row>
                <b:row>
                    <b:column span="8" offset="2">
                        <p class="titleAddPack">Modification des Hébergements</p>
                    </b:column>
                </b:row>

                <b:row>
                    <b:column span="8" offset="2"  styleClass="MarginBottonModifyAccom">
                        <b:form id="updateAccommodation"    inline="true">
                            <b:row>
                                <h:panelGrid columns="2"  cellpadding="5">
                                    <b:inputText id="id" placeholder="ID"
                                                 value="#{mbPackCreation.id}"/>
                                    <b:inputText id="Accommodation_name" placeholder="Nom hébergement"
                                                 value="#{mbPackCreation.new_accom_name}"/>
                                    <b:inputText id="Accommodation_country" placeholder="Pays"
                                                 value="#{mbPackCreation.new_accom_country}"/>
                                    <b:inputText id="Accommodation_city" placeholder="Ville"
                                                 value="#{mbPackCreation.new_accom_city}"/>
                                    <b:inputText id="Accommodation_price" placeholder="Prix"
                                                 value="#{mbPackCreation.new_accom_price}"/>
                                    <b:inputText id="Accommodation_room_type" placeholder="Type de chambre"
                                                 value="#{mbPackCreation.new_accom_room_type}"/>
                                    <b:inputText id="Accommodation_photo" placeholder="Link Photo"
                                                 value="#{mbPackCreation.new_accom_photo}"/>
                                    <b:inputText id="Accommodation_description" placeholder="Description"
                                                 value="#{mbPackCreation.new_accom_description}"/>
                                    <b:formGroup>
                                        <b:selectOneMenu id="new_accom_type"  value="#{mbPackCreation.new_accom_type}" colXs="5" colSm="5" cols-md="5" colLg="5"
                                                         required="true"
                                                         labelColXs="5" labelColSm="5" labelColMd="5" labelColLg="5">
                                            <f:selectItem itemLabel="(Choisir Type Hébergement)" itemValue=""/>
                                            <f:selectItem itemLabel="Cabane" itemValue="Cabane"/>
                                            <f:selectItem itemLabel="Camping" itemValue="Camping"/>
                                            <f:selectItem itemLabel="Hotel" itemValue="Hotel"/>
                                            <f:selectItem itemLabel="Hostal" itemmbValue="Hostal"/>
                                            <f:selectItem itemLabel="Location" itemValue="Location"/>
                                            <f:selectItem itemLabel="Auberge" itemValue="Auberge"/>
                                        </b:selectOneMenu>
                                    </b:formGroup>
                                    <b:formGroup>
                                        <b:selectOneMenu id="new_accom_disponibility" value="#{mbPackCreation.new_accom_disponibility}" colXs="5" colSm="5" cols-md="5" colLg="5"
                                                         required="true"
                                                         labelColXs="5" labelColSm="5" labelColMd="5" labelColLg="5">
                                            <f:selectItem  itemLabel="true" itemValue="true"/>
                                            <f:selectItem  itemLabel="false" itemValue="false"/>
                                        </b:selectOneMenu>
                                    </b:formGroup>
                                </h:panelGrid>
                                <b:commandButton value="Enregistrer" process="@form" update="@form"
                                                 action="#{mbPackCreation.updateAccommodation()}"/>
                                <b:row id="inpUpdateAccommodation">
                                    <b:message for="inpUpdateAccommodation" styleClass="alert-info"/>
                                </b:row>
                                <b:row id="inpUpdateID">
                                    <b:message for="inpUpdateID" styleClass="alert-info"/>
                                </b:row>
                                <b:row id="inpUpdateAccomType">
                                    <b:message for="inpUpdateAccomType" styleClass="alert-info"/>
                                </b:row>
                                <b:row id="inpUpdateAccomName">
                                    <b:message for="inpUpdateAccomName" styleClass="alert-info"/>
                                </b:row>
                                <b:row id="inpUpdateAccomCountry">
                                    <b:message for="inpUpdateAccomCountry" styleClass="alert-info"/>
                                </b:row>
                                <b:row id="inpUpdateAccomCity">
                                    <b:message for="inpUpdateAccomCity" styleClass="alert-info"/>
                                </b:row>
                                <b:row id="inpUpdateAccomDescription">
                                    <b:message for="inpUpdateAccomDescription" styleClass="alert-info"/>
                                </b:row>
                                <b:row id="inpUpdateAccomRoomType">
                                    <b:message for="inpUpdateAccomRoomType" styleClass="alert-info"/>
                                </b:row>
                                <b:row id="inpUpdateAccomPhoto">
                                    <b:message for="inpUpdateAccomPhoto" styleClass="alert-info"/>
                                </b:row>
                                <b:row id="inpUpdateAccomDisponibility">
                                    <b:message for="inpUpdateAccomDisponibility" styleClass="alert-info"/>
                                </b:row>
                                <b:row id="inpUpdateAccomPrice">
                                    <b:message for="inpUpdateAccomPrice" styleClass="alert-info"/>
                                </b:row>
                            </b:row>
                        </b:form>
                    </b:column>
                </b:row>
            </b:column>
        </b:row>
    </ui:define>
</ui:composition>
</html>