<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:composite = "http://java.sun.com/jsf/composite">

<ui:composition template="/archAdmin.xhtml">

    <ui:define name="head">
        <title>Gestion des Formules</title>
        <f:metadata>
            <f:event listener="#{mbLogin.authorise()}" type="preRenderView" />
        </f:metadata>
    </ui:define>

    <ui:define name="content">
        <b:row>
            <b:column>
                <b:row styleClass="marginTopTitleAdd">
                    <b:column span="8" offset="2">
                        <p class="titleAddPack">Gestion des formules</p>
                    </b:column>
                </b:row>
                <b:row>
                    <b:column span="8" offset="2" >
                        <h:form>
                            <b:dataTable value="#{mbPackCreation.findAllPacks()}"
                                         var="packs"
                                         custom-options="dom: 'lfrtiBp',buttons: ['colvis'   ,'copy'   ,'csv'   ,{extend: 'excelHtml5', exportOptions: {columns: [ 0, 1, 2, 3, 4, 5, 6, 7]}},{extend: 'pdfHtml5', exportOptions: {columns: [ 0, 1, 2, 3, 4, 5, 6, 7]}},   'print']">
                                <b:dataTableColumn value="#{packs.id}" label="ID formule" order="asc"/>
                                <b:dataTableColumn value="#{packs.pack_name}" label="Nom formule" />
                                <b:dataTableColumn value="#{packs.pack_description}" label="Description"/>
                                <b:dataTableColumn value="#{packs.pack_price}" label="Prix" />
                                <b:dataTableColumn value="#{packs.pack_depart_date}" label="Date depart"  />
                                <b:dataTableColumn value="#{packs.pack_return_date}" label="Date retour" />
                                <b:dataTableColumn value="#{packs.pack_disponibility}" label="Disponibilité" />
                                <b:dataTableColumn value="#{packs.pack_photo}" label="Link photo"/>
                            </b:dataTable>
                        </h:form>
                    </b:column>
                </b:row>
                <b:row>
                    <b:column span="4" offset="5">
                        <h:graphicImage url="resources/pictures/page/moonsLunaMaya.png" styleClass="img-responsive moonsModifyPack"/>
                    </b:column>
                </b:row>
                <b:row>
                    <b:column span="8" offset="2">
                        <p class="titleAddPack">Supression des formules</p>
                    </b:column>
                </b:row>
                <b:row>
                    <b:column span="3" offset="2">
                        <b:form id="deletePack" >
                            <b:inputText id="inpDeletePack" class="mybid-example" value="#{mbPackCreation.id}" label="Entrez ID formule:" >
                                <f:facet name="append">
                                    <b:commandButton look="danger" value="Supprimer" ajax="true" update="@form"
                                                     oncomplete="$('.modal-bid-example').modal('show');" action="#{mbPackCreation.deletePack()}"/>
                                </f:facet>
                            </b:inputText>

                            <b:modal  class="modal-bid-example" title="">
                                <h2>Formule supprimé !</h2>
                                <h:panelGrid columns="2">

                                    <h:outputText  />
                                </h:panelGrid>
                                <f:facet name="footer">
                                    <b:button value="close" dismiss="modal" onclick="return false;"/>
                                </f:facet>
                            </b:modal>
                        </b:form>
                    </b:column>
                </b:row>
                <b:row>
                    <b:column span="4" offset="5">
                        <h:graphicImage url="resources/pictures/page/moonsLunaMaya.png" styleClass="img-responsive moonsModifyPack"/>
                    </b:column>
                </b:row>
                <b:row>
                    <b:column span="8" offset="2">
                        <p class="titleAddPack">Modification des formules</p>
                    </b:column>
                </b:row>

                <b:row>
                    <b:column span="8" offset="2" styleClass="MarginBottonModifyAccom">
                        <b:form id="UpdatePack"    inline="true">
                            <b:row>
                                <h:panelGrid columns="2"  cellpadding="5">
                                    <b:inputText id="pack_id" placeholder="ID de la formule"
                                                 value="#{mbPackCreation.id}" />
                                    <b:inputText id="pack_name" placeholder="Nom de la formule"
                                                 value="#{mbPackCreation.new_pack_name}" />
                                    <b:inputText id="pack_description" placeholder="Description de la formule"
                                                 value="#{mbPackCreation.new_pack_description}" />
                                    <b:inputText id="pack_photo" placeholder="link de la photo"
                                                 value="#{mbPackCreation.new_pack_photo}" />
                                    <b:inputText id="pack_price" placeholder="Prix de la formule"
                                                 value="#{mbPackCreation.new_pack_price}" />
                                    <b:inputText id="pack_accomodation" placeholder="Hébergement"
                                                 value="#{mbPackCreation.new_pack_accomodation}" />
                                    <b:inputText id="pack_transport" placeholder="Transport"
                                                 value="#{mbPackCreation.new_pack_transport}" />
                                    <b:inputText id="pack_activity" placeholder="Activités"
                                                 value="#{mbPackCreation.new_pack_activity}" />
                                    <b:datepicker id="pack_depart_date" placeholder="Date de départ"
                                                  value="#{mbPackCreation.new_pack_depart_date}" />
                                    <b:datepicker id="pack_return_date" placeholder="Date de retour"
                                                  value="#{mbPackCreation.new_pack_return_date}" />
                                    <b:formGroup>
                                        <b:selectOneMenu id="pack_disponibility" value="#{mbPackCreation.new_pack_disponibility}"
                                                         required="true"
                                                         cellpadding="5">
                                            <f:selectItem  itemLabel="true" itemValue="true"/>
                                            <f:selectItem  itemLabel="false" itemValue="false"/>
                                        </b:selectOneMenu>
                                    </b:formGroup>
                                </h:panelGrid>
                                <b:commandButton value="Enregistrer"
                                                 action="#{mbPackCreation.updatePack()}"/>
                                <b:row id="inpUpdatePack">
                                    <b:message for="inpUpdatePack" styleClass="alert-info"/>
                                </b:row>
                                <b:row id="inpUpdateID">
                                    <b:message for="inpUpdateID" styleClass="alert-info"/>
                                </b:row>
                                <b:row id="inpUpdatePackName">
                                    <b:message for="inpUpdatePackName" styleClass="alert-info"/>
                                </b:row>
                                <b:row id="inpUpdatePackDescription">
                                    <b:message for="inpUpdatePackDescription" styleClass="alert-info"/>
                                </b:row>
                                <b:row id="inpUpdatePackPhoto">
                                    <b:message for="inpUpdatePackPhoto" styleClass="alert-info"/>
                                </b:row>
                                <b:row id="inpUpdatePackDisponibility">
                                    <b:message for="inpUpdatePackDisponibility" styleClass="alert-info"/>
                                </b:row>
                                <b:row id="inpUpdateDatesPack">
                                    <b:message for="inpUpdateDatesPack" styleClass="alert-info"/>
                                </b:row>
                                <b:row id="inpUpdatePackPrice">
                                    <b:message for="inpUpdatePackPrice" styleClass="alert-info"/>
                                </b:row>
                                <b:row id="inpUpdatePackAccommodation">
                                    <b:message for="inpUpdatePackAccommodation" styleClass="alert-info"/>
                                </b:row>
                                <b:row id="inpUpdatePackTransport">
                                    <b:message for="inpUpdatePackTransport" styleClass="alert-info"/>
                                </b:row>
                                <b:row id="inpUpdatePackActivity">
                                    <b:message for="inpUpdatePackActivity" styleClass="alert-info"/>
                                </b:row>
                            </b:row>
                        </b:form>
                    </b:column>
                </b:row>
            </b:column>
        </b:row>
    </ui:define>
</ui:composition>
</html>