<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:b="http://bootsfaces.net/ui">

<ui:composition template="/arch.xhtml">

    <ui:define name="head">
        <title>Mon Espace</title>
        <f:metadata>
            <f:event listener="#{mbLogin.authorise()}" type="preRenderView" />
        </f:metadata>
    </ui:define>

    <ui:define name="content" >
        <b:row styleClass="contentRow">
            <b:column hidden="xs,sm" col-md="4" col-lg="4" styleClass="leftColumnSpace">
                <h:graphicImage url="resources/pictures/page/monEspaceHeader.jpg" styleClass="img-responsive1 photoAccommodationScreen"/>
            </b:column>

            <b:column colXs="7" offsetXs="1" colSm="10" offsetSm="1"  colMd="6" offsetMd="6"  colLg="6" offsetLg="5" styleClass="marginTopDataTable righColumnSpace ">
                <b:row>
                    <p class="titlesMySPace">Mes réservations de Formules</p>
                </b:row>
                <b:row styleClass="marginTopDataTable ">
                    <h:form>
                        <b:dataTable value="#{mbPacks.getUserBookings(mbPacks.connectedUser.id)}"
                                     var="bookings"
                                     row-highlight="#{bookings.aPack.pack_name.rowHighlight}">
                            <b:dataTableColumn value="#{bookings.id}"  label="# Réservation" order="asc" />
                            <b:dataTableColumn value="#{bookings.aPack.pack_name}"  label="Nom formule"/>
                            <b:dataTableColumn value="#{bookings.aPack.id}"  label="ID formule"  />
                            <b:dataTableColumn value="#{bookings.aPack.pack_depart_date}" label="Date Départ"/>
                            <b:dataTableColumn value="#{bookings.aPack.pack_return_date}" label="Date Retour" />
                            <b:dataTableColumn value="#{bookings.aPack.pack_price}" label="Prix euros"/>
                        </b:dataTable>
                    </h:form>
                </b:row>
                <b:row>
                    <b:column span="4" offset="4">
                        <h:graphicImage url="resources/pictures/page/moonsLunaMaya.png" styleClass="img-responsive moonsPackagesMySpace"/>
                    </b:column>
                </b:row>

                <b:row>
                    <p class="titlesMySPace">Mes réservations d'Hébergements</p>
                </b:row>
                <b:row styleClass="marginTopDataTable">
                    <h:form>
                        <b:dataTable value="#{mbPacks.getUserBookings(mbPacks.connectedUser.id)}"
                                     var="Accommodation">
                            <b:dataTableColumn value="#{Accommodation.id}" label="# Réservation" order="asc"/>
                            <b:dataTableColumn value="#{Accommodation.accommodation.accom_name}" label="Nom"/>
                            <b:dataTableColumn value="#{Accommodation.accommodation.id}" label="ID" />
                            <b:dataTableColumn value="#{Accommodation.accommodation.accom_type}" label="Type hébergement"/>
                            <b:dataTableColumn value="#{Accommodation.accommodation.accom_country}" label="Pays"/>
                            <b:dataTableColumn value="#{Accommodation.accommodation.accom_city}" label="Ville" />
                            <b:dataTableColumn value="#{Accommodation.accommodation.accom_room_type}" label="Type de chambre"/>
                            <b:dataTableColumn value="#{Accommodation.accommodation.accom_price}" label="Prix euros"/>
                            <b:dataTableColumn value="#{Accommodation.booking_date}" label="Date d'entré"/>
                        </b:dataTable>
                    </h:form>
                </b:row>
                <b:row>
                    <b:column span="4" offset="4">
                        <h:graphicImage url="resources/pictures/page/moonsLunaMaya.png" styleClass="img-responsive moonsPackagesMySpace"/>
                    </b:column>
                </b:row>
                <b:row>
                    <b:column>
                        <p class="titlesMySPace">Annulation d'une réservation</p>
                    </b:column>
                    <b:column span="3">
                        <b:form id="cancelBooking" >
                            <b:inputText id="inpCancelBooking" class="mybid-example" value="#{mbPacks.id}" label="Entrez ID réservation:">
                                <f:facet name="append">
                                    <b:commandButton look="danger" value="Supprimer" ajax="true" update="@form"
                                                     oncomplete="$('.modal-bid-example').modal('show');" action="#{mbPacks.cancelBooking()}"/>
                                </f:facet>
                            </b:inputText>

                            <b:modal  class="modal-bid-example" title="">
                                <h2>Réservation annulée !</h2>
                                <h:panelGrid columns="2">

                                    <h:outputText  />
                                </h:panelGrid>
                                <f:facet name="footer">
                                    <b:button value="close" dismiss="modal" onclick="return false;"/>
                                </f:facet>
                            </b:modal>
                        </b:form>
                    </b:column>
                </b:row>
            </b:column>
        </b:row>
    </ui:define>
</ui:composition>

</html>