<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:b="http://bootsfaces.net/ui">

<ui:composition template="/arch.xhtml">

    <ui:define name="head">
        <title>Formules</title>
    </ui:define>

    <ui:define name="content"  >
        <b:row styleClass="contentRow">
            <b:column hidden="xs,sm" col-md="4" col-lg="4" styleClass="leftColumnSpace">
                <h:graphicImage url="resources/pictures/page/photo_formules.jpg" styleClass="img-responsive photoAccommodationScreen"/>
            </b:column>

            <b:column  colXs="8" offsetXs="1"  colSm="8"  offsetSm="4" col-md="7" offsetMd="4" colLg="7" offsetLg="4" styleClass="centerCards">
                <b:form styleClass="marginTopCardPack">
<!--                    <h:graphicImage url="resources/pictures/page/moonsLunaMaya.png" styleClass="img-responsive moonsPackages" hidden="xs,sm"/>-->

                    <ui:repeat value="#{mbPacks.findAllPacks()}" var="packs">
                        <b:column col-xs="11"  col-sm="8"  col-md="6"   col-lg="6">
                            <b:thumbnail>
                                <h:graphicImage url="#{packs.pack_photo}" alt="Photo de la formule #{packs.pack_name}"/>
                                <f:facet name="caption">
                                    <h2 class="packsTitle" >#{packs.pack_name}</h2>
                                    <p>Date de départ : #{packs.pack_depart_date}</p>
                                    <p>
                                        <b:commandButton value="Explorer" ajax="true" update="amodal" oncomplete="$('.#{packs.id}').modal('show');"/>
                                    </p>
                                </f:facet>
                            </b:thumbnail>
                        </b:column>
                        <b:modal id="amodal" class="#{packs.id} " title="#{packs.pack_name}">
                            <h:panelGrid columns="2">
                                <p>#{packs.pack_description}</p><br/><br/><br/>
                                <p>Date de départ : #{packs.pack_depart_date}</p><br/>
                                <p>Date de retour : #{packs.pack_return_date}</p><br/>
                                <p>Hébergement : #{packs.pack_accomodation}</p><br/>
                                <p>Transport : #{packs.pack_transport}</p><br/>
                                <p>Activités : #{packs.pack_activity}</p><br/>
                                <p>Prix : #{packs.pack_price} euros</p>
                            </h:panelGrid>
                            <f:facet name="footer">
                                <b:commandButton value="Reserver" id="inpSaveBooking" action="#{mbPacks.saveBooking(packs)}" rendered="#{mbLogin.isConnected()}"/>
                                <b:message for="inpSaveBooking"/>
                            </f:facet>
                        </b:modal>
                    </ui:repeat>
                </b:form>
            </b:column>


        </b:row>




    </ui:define>
</ui:composition>
</html>