<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:b="http://bootsfaces.net/ui">

<ui:composition template="/archAdmin.xhtml">

    <ui:define name="head">
        <title>Inscription</title>
    </ui:define>

    <ui:define name="content">
        <b:row styleClass="contentRow">
            <b:column hidden="xs,sm" col-md="5" col-lg="5" styleClass="leftColumnSpace">
                <h:graphicImage url="resources/pictures/registrationPhoto.jpg" styleClass="img-responsive photoPackages"/>
            </b:column>
            <b:column colXs="8" offsetXs="2" colSm="6" offsetSm="3"  colMd="3" offsetMd="6"  colLg="3" offsetLg="6" styleClass="marginTopDataTable righColumnSpace">
                <b:row>
                    <b:column colXs="11" offsetXs="1" col-sm="8" offsetSm="4" col-md="11" offsetMd="5" col-lg="9" offsetLg="8">
                        <h:graphicImage url="resources/pictures/page/moonsLunaMaya.png" styleClass="img-responsive moonsRegistration"/>
                    </b:column>
                </b:row>
                <b:row>
                    <b:column colXs="11" offsetXs="1" col-sm="11" offsetSm="1" col-md="12" offsetMd="0" col-lg="12" offsetLg="5">
                        <b:form id="registration"    inline="true">
                            <p class="textBienvenue">Bienvenue à bord !</p>
                            <h:panelGrid columns="2" cellpadding="5">
                                <b:inputText id="itName" placeholder="Prenom"
                                             value="#{mbRegistration.newUserName}" />
                                <b:inputText id="itSurname" placeholder="Nom"
                                             value="#{mbRegistration.newUserSurname}" />
                                <b:inputText id="itPhone" placeholder="Numero de téléphone"
                                             value="#{mbRegistration.newUserPhone}" />
                                <b:inputText id="itAddress" placeholder="Adresse mail"
                                             value="#{mbRegistration.newUserAddress}" />
                                <b:inputText id="itLogin" placeholder="Nom d'utilisateur"
                                             value="#{mbRegistration.newUserLogin}" />
                                <b:inputText id="itPassword" placeholder="Password"
                                             value="#{mbRegistration.newUserPassword}" />
                            </h:panelGrid>

                            <b:commandButton value="Enregistrer"
                                             action="#{mbRegistration.registrationAdmin()}"
                            />
                            <b:row id="inpRegistration">
                                <b:message for="inpRegistration"/>
                            </b:row>
                            <b:row id="inpNewUserName">
                                <b:message for="inpNewUserName"/>
                            </b:row>
                            <b:row id="inpNewUserSurname">
                                <b:message for="inpNewUserSurname"/>
                            </b:row>
                            <b:row id="inpNewUserLogin">
                                <b:message for="inpNewUserLogin"/>
                            </b:row>
                            <b:row id="inpNewUserPassword">
                                <b:message for="inpNewUserPassword"/>
                            </b:row>
                            <b:row id="inpNewUserPhone">
                                <b:message for="inpNewUserPhone"/>
                            </b:row>
                            <b:row id="inpNewUserAddress">
                                <b:message for="inpNewUserAddress"/>
                            </b:row>
                        </b:form>
                    </b:column>
                </b:row>

            </b:column>
        </b:row>
    </ui:define>

</ui:composition>

</html>