<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:p="http://primefaces.org/ui">

<ui:composition template="/arch.xhtml">

    <ui:define name="head">
        <title>Transport</title>
    </ui:define>

    <ui:define name="content"  >

        <b:row>
            <b:column>
                <b:row>
                    <b:column col-xs="10" offsetXs="1" col-sm="10" offset-sm="1"  col-md="10" offset-md="1"  col-lg="10" offset-lg="1"  styleClass="coverImageMargin">
                        <h:graphicImage url="resources/pictures/page/transportHeader.jpg" styleClass="img-responsive"/>
                    </b:column>
                </b:row>
                <b:row>
                    <b:column col-xs="10" offsetXs="1" col-sm="10" offset-sm="1"  col-md="4" offset-md="4"  col-lg="4" offset-lg="4">
                        <h1 class="textBlogTitle">Envie de Train ou Avion ?</h1>
                    </b:column>
                </b:row>
                <b:row>
                    <b:column col-xs="10" offsetXs="1" col-sm="10" offset-sm="1"  col-md="4" offset-md="4"  col-lg="4" offset-lg="4">
                        <p:splitter style="height: 13rem" styleClass="mb-5 splitterMargin">
                            <p:splitterPanel  styleClass="flex align-items-center justify-content-center">
                                <h:graphicImage url="resources/pictures/page/trainSplitter.jpg" styleClass="img-responsive"/>
                            </p:splitterPanel>
                            <p:splitterPanel  styleClass="flex align-items-center justify-content-center">
                                <h:graphicImage url="resources/pictures/page/airplaneSplitter.jpg" styleClass="img-responsive"/>
                            </p:splitterPanel>
                        </p:splitter>
                    </b:column>
                </b:row>
            </b:column>
        </b:row>

<!--        <b:row>-->
<!--            <b:column span="4" offset="4">-->
<!--                <div class="card">-->
<!--                    <h:form id="form">-->
<!--                        <p:growl id="msgs" showDetail="true" skipDetailIfEqualsSummary="true"/>-->
<!--                            <div class="ui-fluid grid formgrid">-->
<!--                                <div class="field col-12 md:col-4">-->
<!--                                    <p:outputLabel for="multiselect" value="Multiple Selection"/>-->
<!--                                    <p:datePicker id="multiselect" selectionMode="multiple" value="#{calendarView.multi}" readonlyInput="true"/>-->
<!--                                </div>-->

<!--                                <div class="field col-12 md:col-4">-->
<!--                                    <p:outputLabel for="range" value="Range Selection"/>-->
<!--                                    <p:datePicker id="range" selectionMode="range" value="#{calendarView.range}" readonlyInput="true"/>-->
<!--                                </div>-->

<!--                                <div class="field col-12 md:col-4">-->
<!--                                    <p:outputLabel for="disabledDD" value="Disabled Date/Day"/>-->
<!--                                    <p:datePicker id="disabledDD" value="#{calendarView.date6}"-->
<!--                                                  disabledDays="#{calendarView.invalidDays}"-->
<!--                                                  disabledDates="#{calendarView.invalidDates}" readonlyInput="true"/>-->
<!--                                </div>-->

<!--                                <div class="field col-12 md:col-4">-->
<!--                                    <p:outputLabel for="button" value="Button"/>-->
<!--                                    <p:datePicker id="button" value="#{calendarView.date7}" showIcon="true"/>-->
<!--                                </div>-->

<!--                                <div class="field col-12 md:col-4">-->
<!--                                    <p:outputLabel for="buttonbar" value="Button Bar"/>-->
<!--                                    <p:datePicker id="buttonbar" value="#{calendarView.date10}" showButtonBar="true"/>-->
<!--                                </div>-->

<!--                                <div class="field col-12 md:col-4">-->
<!--                                    <p:outputLabel for="timeMinMax" value="Time (Min-Max)"/>-->
<!--                                    <p:datePicker id="timeMinMax" value="#{calendarView.date16}" showTime="true"-->
<!--                                                  mindate="#{calendarView.minDateTime}" maxdate="#{calendarView.maxDateTime}"/>-->
<!--                                </div>-->

<!--                                <div class="field col-12 md:col-4">-->
<!--                                    <p:outputLabel for="timeonly" value="Time Only"/>-->
<!--                                    <p:datePicker id="timeonly" value="#{calendarView.date14}" timeOnly="true" pattern="HH:mm"/>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                    </h:form>-->
<!--                </div>-->
<!--            </b:column>-->
<!--        </b:row>-->
    </ui:define>

</ui:composition>

</html>